@import "compass";
@include global-reset;
@import url("sp://import/css/adam.css");
@import url("sp://import/css/shared.css");

$font-color:  white;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
	font-family: $font-family;
	color: $font-color;
	background: url('sp://powerhour/img/tile_bg.png') repeat top left fixed;
	position: relative;
	height: 100%;
	width: 100%;
}

#main{
	padding-top: 72px;
	#logo{
		width: 206px;
		height: 112px;
		background: url('sp://powerhour/img/logo_main.png');
		position: absolute;
		top: 16px;
		left: 50%;
		margin-left: -103px;
	}

	#content-container{
		background: url('sp://powerhour/img/tile_game.png') repeat;
		width: 100%;
		height: 525px;
		#col1{
			#playlistDND{
				width:325px;
				height:325px;
				border: dashed 11px black;
				border-radius: 58px;
			}
		}
	}

}
