%h1#header
	Whoops!  Cannot access the Spotify API!

#playlistDND

%img{:src => "#", :id => "albumArt"}

#numLeft
	%span
		drinks left:
	%h1
		0

%br

#numToGo
	%span
		drinks consumed:
	%h1
		0

%br

#timer
	%span
		time to next drink:
	%h1
		0

