#logo
#content-container
	#power-area
		#col1
			#playlistDND
				%span Drag and drop a playlist here
		#col2
			#playlist Playlist:
			#currentPlaylist none

			#settings
				.btn-group
					%button{:class => "btn btn-inverse btn-large"}
						Random:
						%button{:class => "btn btn-inverse dropdown-toggle btn-large", "data-toggle" => "dropdown"}
							%span{:class => "caret"}
					%ul{:class => "dropdown-menu"}
						%li
							%a On
						%li
							%a Off

				.btn-group
					%button{:class => "btn btn-inverse btn-large"}
						\# of Songs
						%button{:class => "btn btn-inverse dropdown-toggle btn-large", "data-toggle" => "dropdown"}
							%span{:class => "caret"}
					%ul{:class => "dropdown-menu"}
						%li
							%a On
						%li
							%a Off

				.btn-group
					%button{:class => "btn btn-inverse btn-large"}
						Song Interval
						%button{:class => "btn btn-inverse dropdown-toggle btn-large", "data-toggle" => "dropdown"}
							%span{:class => "caret"}

					%ul{:class => "dropdown-menu"}
						%li
							%a On
						%li
							%a Off

				#start Start