%h1
	Power Hour Beta

#playlistDND
	%span
		Drag in a playlist!

%form{:action => '#'}
	%label song interval
	%select{:id => 'duration'}
		%option{:value => 30} :30
		%option{:value => 45} :45
		%option{:value => 60, :selected => 'selected'} 1:00
		%option{:value => 75} 1:15
		%option{:value => 90} 1:30
		%option{:value => 105} 1:45
		%option{:value => 120} 2:00

#random
	random start times

#start
	start

	/%img{:src => "#", :id => "albumArt"}

#numLeft
	%span
		drinks left:
	%h2
		0

%br

#numToGo
	%span
		drinks consumed:
	%h2
		0

%br

#timer
	%span
		time to next drink:
	%h2
		0